target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode

### Mac ###
.DS_Store

### Logs ###
*.log

# Dependencies
node_modules/
frontend/node_modules/

# Production
frontend/dist/
dist/

# Uploads & Env
uploads/
.env